
header{
    display:flex;
    justify-content: center;
    color:purple;
}
#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-div{
    border-radius: 5px;
    border: 1px solid gray;
    width: 50%;
    padding: 5%;
    margin-bottom: 5%;
}