body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-div{
    background-color: floralwhite;
    border-radius: 5px;
    border: 1px solid gray;
    width: 50%;
    padding: 3%;
    margin-top: 5%;
}

.content-div a {
    text-decoration: none;
    color: black;
}


h2{
    color: slategray;
    text-shadow: 1px 1px 2px black;
}


#author{
}