<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kristoffers blog</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navbar">
        <a th:href="@{/client}" >Kristoffers vackra bloggprojekt</a>
        <div>
            <a th:href="@{/client}" >knapp</a>
            <a th:href="@{/client}" >knapp</a>
            <a th:href="@{/client}" >knapp</a>
            <a th:href="@{/client}" >knapp</a>
        </div>
    </div>
</nav>
<section id="main-content">
    <div th:each="blogpost: ${blogs}" class="content-div">
        <h2 th:text="${blogpost.title}"></h2>
        <p th:text="${blogpost.content}"></p>
        <em>Skriven av: <span th:text="${blogpost.creator}" id="author"></span></em>
        <span th:text="${blogpost.created}"></span>

    </div>
</section>


</body>

</html>